body, html {
  height: 100%;
  margin: 0;
}

.bg {
  background-image: url(img_buf.jpg);
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
#self {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: bolder;
  font-size: 25px;
  font-family: monospace;
}

.row-fluid {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}
.page-header {
  background-color: pink;
}
#buf {
  size: 100% 100%;
  background-repeat: no-repeat;
}
