html {
  background: url(img/buf.jpg) no-repeat center center fixed;
  background-size: cover;
  opacity: 0.6;

}

#self {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: bolder;
  font-size: 25px;
  font-family: monospace;
}

.row-fluid {
  display: table-cell;
  vertical-align: bottom;
  float: none;
}
.page-header {
  background-color: pink;
}
/*body {
  background: url (img_buf.jpg);
  background-size: 100% 100%
  background-repeat: no-repeat;
}*/
