body {
  background-image: url("img/buf.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

#self {
  height: 100%;
  width: 100%;
}

h2 {
  font-weight: bolder;
  font-size: 50px;
  font-family: brush script MT,cursive;
  text-shadow: 3px 3px white;
}

.row-fluid {
  display: table-cell;
  vertical-align: bottom;
  float: right;
}

#mid {
  margin-top: 10%
}

.jumbotron {
  background-color: rgb(204, 243, 255);

}
